[Unit]
Description=emunin
After=graphical.target
ConditionKernelCommandLine=!emunin=0
Requires=graphical.target

[Service]
User=allanin
ExecStart=/usr/bin/retroarch
KillMode=process
TimeoutStopSec=10
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=emunin.target

